---
import type { Book } from "@/actions/books";
import BookActionForm from "@/components/library/actions/BookActionForm.astro";
import SelectStatus from "@/components/library/actions/SelectStatus.astro";
import ViewBookLink from "@/components/library/actions/ViewBookLink.astro";
import AuthorPill from "@/components/library/AuthorPill.astro";
import BookCover from "@/components/library/BookCover.astro";

interface Props {
  book: Book;
}

const { book } = Astro.props;
---

<li class="book-card" transition:name={`book-card-${book.id}`}>
  <BookCover cover={book.cover} title={book.title} />
  <h3>{book.title}</h3>
  <AuthorPill author={book.author} />
  <div class="book-card-actions">
    <SelectStatus
      bookId={book.id}
      bookStatus={book.status}
      class:list={[{ hidden: !book.isSaved }]}
    />
    <ViewBookLink
      bookId={book.id}
      class:list={[{ hidden: !book.isSaved }]}
    />
    <BookActionForm book={book} />
  </div>
</li>
